@using SisAutoBal.BusinessObjects.AutoBal;
@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Acceso Perfil</title>
    <link rel="stylesheet" href="~/css/TableEstilo.css" />
</head>
<body>
    <div class="pagetitle">
        <h1>Acceso Perfil</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">                           
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Perfiles de Usuario</label>
                                    <select class="form-select" id="IDPerfil" name="IDPerfil" style="width: 100%;background-color:khaki" onclick="return RecuperarAcceso()">
                                        @{
                                            if (ViewData["Perfil"] != null)
                                            {
                                                foreach (var item in ViewData["Perfil"] as IList<CPerfil>)
                                                {
                                                                                                    <option value="@item.IDPerfil">@item.Des_Perfil</option>
                                                }
                                            }
                                        }
                                    </select>
                                    <span class="label" id="valIDPerfil" style="display:none; font-size:12px; color:red">Ingrese Mail</span>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table">
                                    <div class="table_section" style="height: 100%">
                                        <div class="table_header">
                                            <h5>Accesos</h5>
                                        </div>
                                        <table id="taAcceso" class="table" aria-describedby="Lista de Accesos">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nro.</th>
                                                    <th scope="col">Codigo Acceso</th>
                                                    <th scope="col">Descripcion</th>
                                                    <th scope="col">Habilitar Acceso</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        window.onload = function () {
            Buscar();
        }
        function Buscar() {
            debugger;
            var record = {
                Cod_Acceso: '',
                Nombre_Acceso: '',
                Descripcion: ''
            }
            $.ajax({
                url: '@Url.Action("Buscar")',
                async: false,
                type: 'GET',
                data: record,
                beforeSend: function (xhr, opts) { },
                success: function (data) {
                    $('#taAcceso > tbody').empty();
                    debugger;
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var newRow =
                                "<tr>" +
                                "<td>" + (i+1) + "</td>" +
                                "<td>" + data[i].cod_Acceso + "</td>" +
                                "<td>" + data[i].descripcion + "</td>" +
                                "<td><input type='checkbox' id='checkbox_" + i + "' name='checkbox_" + i + "' value='" + data[i].cod_Acceso + "' onclick='checkboxClick(this, \"" + data[i].cod_Acceso + "\")'></td>" +
                                "</tr>";
                            $(newRow).appendTo("#taAcceso tbody");
                        }
                    }
                    else {
                        alert("No se encontraron datos.");
                    }
                },
                error: function (data) {
                    window.alert(data.message);
                }
            });
        }
        function RecuperarAcceso()
        { 
            debugger;
            var IDPerfil_ = $('#IDPerfil').val();
            if (IDPerfil_ != '') {
                debugger;
                var record = {
                    IDPerfil: $('#IDPerfil').val()             
                }
                $.ajax({
                    url: '@Url.Action("BuscarAcceso")',
                    async: false,
                    type: 'GET',
                    data: record,
                    beforeSend: function (xhr, opts) { },
                    success: function (data) {
                        $('#taAcceso > tbody').empty();
                        debugger;
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                var newRow =
                                    "<tr>" +
                                    "<td>" + (i + 1) + "</td>" +
                                    "<td>" + data[i].cod_Acceso + "</td>" +
                                    "<td>" + data[i].descripcion + "</td>" +
                                    "<td><input type='checkbox' id='checkbox_" + i + "' name='checkbox_" + i + "' value='" + data[i].cod_Acceso + "' onclick='checkboxClick(this, \"" + data[i].cod_Acceso + "\")'></td>" +
                                    "</tr>";
                                $(newRow).appendTo("#taAcceso tbody");
                            }
                        }
                        else {
                            alert("No se encontraron datos.");
                        }
                    },
                    error: function (data) {
                        window.alert(data.message);
                    }
                });
            }
            else { alert("Seleccione Perfil"); }
        
        }
        function checkboxClick(checkbox, codAcceso) {
            debugger;
            var isChecked = checkbox.checked;
            var Cod_Acceso_ = codAcceso;
            var IDPerfil_ = $('#IDPerfil').val();
            if (isChecked) {
                var record = new FormData();
                record.append("Cod_Acceso", Cod_Acceso_);
                record.append("IDPerfil", IDPerfil_);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Grabar")',
                    data: record,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        var Error = result.error;
                        //console.log(Error);

                    },
                    error: function (data) {
                        window.alert('Error en el grabado');
                    }
                });
            }
            else { 
                var record = {
                    CodAcceso: Cod_Acceso_,
                    IDPerfil: IDPerfil_
                }
                $.ajax({
                    url: '@Url.Action("Eliminar")',
                    async: false,
                    type: 'GET',
                    data: record,
                    beforeSend: function (xhr, opts) { },
                    success: function (result) {
                        var Error = result.error;
                        //console.log(Error);
                    },
                    error: function (data) {
                        var Error = data.message;
                    }
                });
            }
        }
        function ejecutaAlerta(Mensaje) {
            var w = window.open('SisAutBal', '_blank', 'toolbar=yes,scrollbars=yes,resizable=yes,top=0,left=500,width=500,height=20')
            w.document.write(Mensaje)
            w.focus()
            setTimeout(function () { w.close(); }, 5000)
        }
    </script>
</body>
</html>
